@import "src/app/styles/_color.scss";

.navbar {
  padding: 24px 50px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

a {
  padding: 22px;
  font-size: 1.1em;
  font-weight: 300;
}

.router-link-active {
  font-weight: 900;
  color: $primary;
  border-bottom: 2px solid $primary;
}
